.childelem {
    justify-content: space-evenly;
}

.title {
    font-family: "Segoe UI", Nunito, Tahoma, sans-serif;
    color: dimgray;
    margin: 5px;
}

.recentelem {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}